.DS_Store
*.dmg
*.zip
*.exe
*.AppImage
*.tar.gz

frontend/.next
frontend/dist
frontend/node_modules
frontend/out

backend/.venv
backend/__pycache__
backend/dist
backend/*.spec

frontend/tests/.tmp
backend/tests/__pycache__
